@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Sans+Elbasan&display=swap');
body {
    box-sizing: border-box;
    font-family: "Russo One", sans-serif;
}

a {
    text-decoration: none !important;
}
li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

.wrapper {
    display: flex;
    min-height: 500px;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all .25s ease-in-out;
    background-color: #e30074;
    display: flex;
    flex-direction: column;
    position: relative;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

.toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

.toggle-btn i {
    font-size: 1.5rem;
    color: #FFF;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo span {
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span {
    display: none;
}


a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.sidebar-item {
    position: relative;
}

#sidebar:not(.expand) .sidebar-item .sidebar-dropdown {
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #0e2238;
    padding: 0;
    min-width: 15rem;
    display: none;
}



#sidebar.expand .sidebar-link[data-bs-toggle="collapse"]::after {
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

#sidebar.expand .sidebar-link[data-bs-toggle="collapse"].collapsed::after {
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.container{
    width: 1500px;
}
.DbResponse{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navList{
    width: 150px;
}

.title{
    color: #e30074;
    font-family: "Arimo", sans-serif;
    position: relative;
    font-size: 1.75rem;
}
.title::after{
    content: "Monitoring";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(0%, 10%);
    font-size: 12px;
}
.welcomeTextWrapper{
    background-color: #FFFFFF;
    position: relative;
}
.welcomeTextWrapper svg{
    width: 100%;
}
.welcomeText{
    position: absolute;
    font-weight: 600;
    font-size: 4rem;
    animation: stroke 5s infinite alternate;
	stroke: #e30074;
    fill: #e30074;
}

@keyframes stroke {
	0%   {
		fill: rgba(238,90,252,0); stroke: #e30074;
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(238,90,252,0); stroke: #e30074; }
	80%  {fill: rgba(238,90,252,0); stroke: #e30074; stroke-width: 3; }
	100% {
		fill: #e30074; stroke: rgba(238,90,252,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}
.pagination{
    margin: 0 auto;
}

.magenta-spinner {
    border-color: #e30074 !important;
    border-right-color: transparent !important;
}

.menuLogo{
    position: sticky;
    bottom: 0;
    width: 100%;
}

.page-link{
    color: #e30074 !important;
}
.page-item.active .page-link{
    background-color: #e30074 !important;
    color: #FFFFFF !important;
    border-color: #e30074 !important;
}

.srcButton{
    background-color: #e30074 !important;
}

.mapdbStaticData{
    position: absolute;
    left: 0;
    top: 50px;
}
.progress[class*="status"]{
    width: 100%;
}
.status-group{
    width: 30%;
}
#progressbarContainer{
    display: flex;
    justify-content: space-between;
}

.reca-circle{
    width: 5px;
    height: 5px;
    background: green;
    border-radius: 50%;
}

.status-label{
    position: relative;
    cursor: pointer;
}
.status-label:hover::after{
    content: attr(data-info);
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    z-index: 10;
}